@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// GLOBAL

body {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// MAIN

main {
    flex: 1;
}

// CONTAINER

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

// COMMON INPUTS

.input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-border;
    padding: 12px 8px;
    background: transparent;
    outline: none;

    &:focus {
        border-bottom-color: $color-gradient-end;
    }
}