@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
.app-header{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
    position: relative;
}
.app-header-inner{
    width: min(390px, 100vw);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 16px;
    box-sizing: border-box;
    margin: 0 auto;
}
.app-header-brand{
    font-size: 20px;
}

.app-header-cart{
    width: 100%;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
}
.app-header-inner-cart{
    width: min(390px, 100vw);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 0 16px;
    box-sizing: border-box;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 700;

    color: $color-heading;

    text-decoration: none;

    span {
        font-weight: 400;
    }
}

.back-link-container {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid $color-border;
    margin-bottom: 30px;
}

.back-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $color-heading;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    @include transition;
    &:hover {
        opacity: 0.7;
    }
}

.sort-container {
    display: inline-block;
    position: relative;
}

.product-sort {
    padding: 8px 30px 8px 35px;
    border: 1px solid $color-border;
    border-radius: 4px;
    background-color: $color-white;
    cursor: pointer;
    appearance: none;
    font-weight: 400;
    &:focus {
        outline: none;
    }
}

.sort-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-heading;
    pointer-events: none;
}

.caret-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-heading;
    pointer-events: none;
}
