@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.site-complete {
    width: 100%;
    padding: 0;
    margin: 0;
}

.complete-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

    @include desktop {
        max-width: 680px;
    }

    @include laptop {
        padding-inline: 24px;
    }

    @include tablet {
        padding-inline: 16px;
    }

    @include mobile {
        padding-inline: 12px;
    }

    @include small-mobile {
        padding-inline: 8px;
    }
}

.site-complete-message {
    color: $color-heading;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 402px;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;

    h3{
        line-height: 32px;
        font-size: 24px;
        font-weight: 600;

        @include tablet {
            font-size: 24px;
            line-height: 32px;
        }

        @include mobile {
            font-size: 24px;
            line-height: 32px;
        }

        @include small-mobile {
            font-size: 24px;
            line-height: 32px;
        }
    }

    p{
        width: auto;
        height: auto;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 20px;
        letter-spacing: 0.02em;

        @include tablet {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.02em;
        }

        @include mobile {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.02em;
        }

        @include small-mobile {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.02em;
        }
    }
}

.site-complete-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 28px;

    i{
        font-size: 72px;
        background: linear-gradient(to right, $color-light-blue, $color-green);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @include tablet {
            font-size: 60px;
        }

        @include mobile {
            font-size: 52px;
        }

        @include small-mobile {
            font-size: 44px;
        }
    }
}

.site-complete-button-back {
    padding-top: 36px;
    padding-bottom: 164px;
    display: flex;
    justify-content: center;

    @include laptop {
        padding-bottom: 80px;
    }

    @include tablet {
        padding-bottom: 60px;
    }
}

.btn-back-home {
    @include tablet {
        width: 100%;
        max-width: 300px;
    }

    @include mobile {
        max-width: 100%;
        height: 44px;
        font-size: 15px;
    }

    @include small-mobile {
        height: 40px;
        font-size: 14px;
    }
}
