@use '../abstracts/variables' as *;
.site-complete {
    width: 100%;
    padding: 0;
    margin: 0;
}

.site-complete-message {
    color: $color-heading;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 402px;
    width: 100%;
    height: 82px;
    margin: 0 auto;
    padding-top: 20px;

    h3{
        line-height: 32px;
        font-size: 24px;
        font-weight: 600;
    }

    p{
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 20px;
        letter-spacing: 0.02em;
        height: 40px;
    }
}

.site-complete-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 28px;

    i{
        font-size: 72px;
        background: linear-gradient(to right, $color-light-blue, $color-green);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}

.site-complete-button-back {
  padding-top: 36px;
  padding-bottom: 164px;
  display: flex;
  justify-content: center;
}
